<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    A project by <i class="fas fa-code"></i> Camila Mizumoto <i class="fas fa-terminal"></i> Lucas Otsuka <i class="fas fa-kiwi-bird"></i> Tábata Lisbôa <i class="fab fa-envira"></i> Ana Riccetti
  </div>
</div>
