      <table class="table table-condensed table-responsive table-hover">
        <thead>
          <tr>
            <th>Partido</th>
            <th>Vereadores</th>
            <th>Representatividade</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>DEM</td>
            <td>5</td>
            <td>9%</td>
          </tr>
          <tr>
            <td>MDB</td>
            <td>2</td>
            <td>4%</td>
          </tr>
          <tr>
            <td>NOVO</td>
            <td>1</td>
            <td>2%</td>
          </tr>
          <tr>
            <td>PHS</td>
            <td>1</td>
            <td>2%</td>
          </tr>
          <tr>
            <td>PODE</td>
            <td>2</td>
            <td>4%</td>
          </tr>
          <tr>
            <td>PP</td>
            <td>1</td>
            <td>2%</td>
          </tr>
          <tr>
            <td>PPS</td>
            <td>2</td>
            <td>4%</td>
          </tr>
          <tr>
            <td>PR</td>
            <td>4</td>
            <td>7%</td>
          </tr>
          <tr>
            <td>PRB</td>
            <td>4</td>
            <td>7%</td>
          </tr>
          <tr>
            <td>PROS</td>
            <td>1</td>
            <td>2%</td>
          </tr>
          <tr>
            <td>PSB</td>
            <td>4</td>
            <td>7%</td>
          </tr>
          <tr>
            <td>PSC</td>
            <td>1</td>
            <td>2%</td>
          </tr>
          <tr>
            <td>PSD</td>
            <td>4</td>
            <td>7%</td>
          </tr>
          <tr>
            <td>PSDB</td>
            <td>8</td>
            <td>15%</td>
          </tr>
          <tr>
            <td>PSOL</td>
            <td>2</td>
            <td>4%</td>
          </tr>
          <tr>
            <td>PT</td>
            <td>9</td>
            <td>16%</td>
          </tr>
          <tr>
            <td>PTB</td>
            <td>2</td>
            <td>4%</td>
          </tr>
          <tr>
            <td>PV</td>
            <td>2</td>
            <td>4%</td>
          </tr>
          <tr class="primary">
            <td><strong>Total</strong></td>
            <td>55</td>
            <td>100%</td>
          </tr>
        </tbody>
      </table>
