<ul class="list-group">
  <li class="list-group-item">PL - Projeto de Lei</li>
  <li class="list-group-item">PDL - Projeto de Decreto Legislativo</li>
  <li class="list-group-item">PR - Projeto de Resoluçao</li>
  <li class="list-group-item">PLO - Projeto de Emenda Lei Orgânica</li>
  <li class="list-group-item">RPP - Requerimento P com Processo</li>
  <li class="list-group-item">RPS - Requerimento P sem Processo</li>
  <li class="list-group-item">RDP - Requerimento D com processo</li>
  <li class="list-group-item">IND - Indicação</li>
  <li class="list-group-item">REC - Recurso</li>
  <li class="list-group-item">SUB - Substitutivo</li>
  <li class="list-group-item">RDS - Requerimento D sem Processo</li>
  <li class="list-group-item">EME - Emenda</li>
  <li class="list-group-item">PAR - Parecer</li>
  <li class="list-group-item">RELCOM - Relatório da Comissão/li>
  <li class="list-group-item">PPA - Plano Plurianual</li>
  <li class="list-group-item">LO - Lei Orçamentária</li>
  <li class="list-group-item">RSC - Requerimento Subcomissão</li>
  <li class="list-group-item">DSP - Despacho</li>
  <li class="list-group-item">VOTO - Folha de Votação</li>
  <li class="list-group-item">REGTAQ - Registros Taquigráficos</li>
  <li class="list-group-item">REQ - Requerimento</li>
  <li class="list-group-item">APOIO - Folha de Apoiamento</li>
  <li class="list-group-item">AUD - Audiência Pública</li>
  <li class="list-group-item">ARQ - Folha de Arquivamento</li>
  <li class="list-group-item">DESARQ - Folha de Desarquivamento</li>
  <li class="list-group-item">REARQ - Folha de Rearquivamento</li>
  <li class="list-group-item">TES - Folha Teste</li>
  <li class="list-group-item">ESTUDO - Estudo da Comissão</li>
  <li class="list-group-item">INFCOM - Informações das Comissões</li>
  <li class="list-group-item">MANREL - Manifestação do Relator</li>
</ul>
