// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;

//background
$light-gray: #F2F2F2;

// letters&cards-background
$gray: #2D2C2E;
//cards
$lighter-gray: #E8E8E8;

// cards&fontcolor
$dark-red: #8F162D;
//icons
$green-gray: #5F634F;

//navbar
$dark-gray: #2b2b2b;

// footer&navbar-letters
$white-gray: #CECECE;

//hover
$crazy-green: rgba(0, 237, 100, 0.7);
