// Specific CSS for your home-page
hr {
  border-top: 1px dotted darkgrey;
}

h3 {
  text-align: center;
}

.container .card p {
  padding-left: 40px;
  padding-top: 8px;
}

.container .card {
  // background-color: white;
  padding: 30px 30px 30px 0px;
}
