// Specific CSS for your camara-page

.wrapper-gray {
  background: $light-gray;
  color: black;
  padding: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.card-icon {
  background: white;
  padding: 30px;
  box-shadow: 1px 1px 2px #e7e7e7;
  border-radius: 4px;
  margin: 20px 50px;

}

.card-text {
  background: white;
  padding: 30px;
  box-shadow: 1px 1px 2px #e7e7e7;
  border-radius: 4px;
  margin: 20px 50px;
  text-align: center;
}

#card-seats {
  background: white;
  padding: 30px;
  box-shadow: 1px 1px 2px #e7e7e7;
  border-radius: 4px;
  margin: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-flip1 {
  position: absolute;
  top: 50%;
  left: 20%;
  width: 300px;
  height: 300px;
  margin: -150px;
  float: left;
  perspective: 500px;
}

.content1-flip {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);

  transition: transform 1s;
  transform-style: preserve-3d;
}

.card-flip1:hover .content1-flip {
  transform: rotateY( 180deg ) ;
  transition: transform 0.5s;
}

.front-flip1,
.back-flip1 {
  position: absolute;
  height: 100%;
  width: 100%;
  background: $light-gray;
  line-height: 300px;
  color: $gray;
  text-align: center;
  font-size: 60px;
  border-radius: 5px;
  backface-visibility: hidden;
}

.back-flip1 {
  background: $gray;
  color: $light-gray;
  transform: rotateY( 180deg );
}

.card-flip2 {
  position: absolute;
  top: 50%;
  right: 20%;
  width: 300px;
  height: 300px;
  margin: -150px;
  float: left;
  perspective: 500px;
}

.content2-flip {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);

  transition: transform 1s;
  transform-style: preserve-3d;
}

.card-flip2:hover .content2-flip {
  transform: rotateY( 180deg ) ;
  transition: transform 0.5s;
}

.front-flip2,
.back-flip2 {
  position: absolute;
  height: 100%;
  width: 100%;
  background: $dark-red;
  line-height: 300px;
  color: $green-gray;
  text-align: center;
  font-size: 60px;
  border-radius: 5px;
  backface-visibility: hidden;
}

.back-flip2 {
  background: $green-gray;
  color: $dark-red;
  transform: rotateY( 180deg );
}
