<div id="banner">
  <div>
    <%= render 'components/navbar' %>
  </div>
  <div class="banner-content">
    <p>Eles sabem tudo sobre o futuro da sua cidade.<br>E agora, você vai saber tudo sobre a participação deles.</p>
  </div>
</div>

<div class="section" id="project">
</div>

<hr>

<div class="section" id="camara">
  <p>blablabla - resuminho sobre a câmara</p>
  <div class="btn btn-primary">Saiba mais</div>
</div>

<hr>

<div class="section" id="graphs">
  <div class="container">
    <div class="row align-center">
      <div class="col-xs-12 col-sm-4">
        <div class="card align-center">
          <%= image_tag 'graph1.png' %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card align-center">
          <%= image_tag 'graph2.png' %></div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card align-center">
          <%= image_tag 'graph3.png' %>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="section" id="icons">
</div>
