<div id="banner">
  <div id="homepage-navbar">
    <%= render 'components/navbar' %>
  </div>
  <div class="banner-content">
    <p>blblblba slogan slogan shshshshs</p>
  </div>
</div>

<div class="container">

  <div class="section">
    <p>blablabla</p>
  </div>
  <div class="section">
    <p>blablabla</p>
  </div>
  <div class="section">
    <p>blablabla</p>
  </div>

</div>
