<div class="container">
  <div class="wrapper-gray">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <div class="card-icon">
            <%= image_tag "represent_icon.png", alt: "represent", width: 300 %>
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="card-text">
            <h5>A cidade de São Paulo possui</h5>
            <h1>55</h1>
            <h5>pessoas responsáveis pela representação dos interesses de todos os cidadãos</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper-gray">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <div class="card-text">
            <p>O Palácio Anchieta (google maps) no bairro de Bela Vista, é o espaço público onde os vereadores se reunem para os debates e votações</p>
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div id="card-seats">
            <%= image_tag "camara_teste.png", alt: "seats", width: 400 %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper-gray">
    <div class="container">
     <div class="row cards">
      <div class="card-flip1">
        <div class="content1-flip">
          <div class="front-flip1">
            <%= image_tag "law_icon.png", alt: "law", width: 200 %>
          </div>
          <div class="back-flip1">
            Law
          </div>
        </div>
      </div>
      <div class="card-flip2">
        <div class="content2-flip">
          <div class="front-flip2">
            <%= image_tag "oversee_icon.png", alt: "oversee", width: 200 %>
          </div>
          <div class="back-flip2">
            Oversee
          </div>
        </div>
      </div>
     </div>
    </div>
  </div>
</div>


            <!-- <h3>As principais responsabilidades dos vereadores são</h3> -->

            <!-- <data-toggle="tooltip" data-placement="left" title="Criam, mudam e desfazer as regras que organizam a cidade."></button> -->

            <!-- <data-toggle="tooltip" data-placement="right" title="Fiscalizar as ações da prefeitura não quebrem as Leis e que aja com responsabilidade."> -->



        <!-- os  de sua cidade, e não só com as pessoas que votaram neles. -->
        <!-- Todas as cidades possuem um grupos de pessoas eleitas para representar o povo -->

<!-- Os Projetos de Lei (PL) são criados e votados pelos vereadores com a participação do prefeito. É ele que vai confirmar (sancionar) o projeto, transformando ele em lei. O prefeito pode também criar uma lei, mas ela PRECISA ser votadas pelos vereadores -->
<!-- Câmara de Vereadores que julgará o prefeito.  -->

