<div class="container small-text text-center">
  <h1>Câmara de Vereadores</h1>
  <p class="text-justify texto">
    Todas as cidades possuem um grupos de pessoas eleitas para representar o povo. Na cidade de São Paulo são 55 os vereadores responsáveis pela representação dos interesses de todosos cidadãos de sua cidade, e não só com as pessoas que votaram neles.
    O "Palácio Anchieta" (google maps), no bairro de Bela Vista, é o espaço público onde esses debates e votações acontecem.
  </p>
</div>
<div class="container justify-content-center">
  <div class="row camara-row">
    <div class="col-xs-12 col-sm-6">
      <%= image_tag "camara_teste.png", alt: "seats", width: 400 %>
    </div>
  </div>
</div>
<div class="container text-center small-text">
  <p class="text-justify texto">
    As principais responsabilidades dos vereadores são:

    1) criar as regras que organizam a cidade.
    São os vereadores que criam, mudam e desfazer essas leis.
    Os Projetos de Lei (PL) são criados e votados pelos vereadores com a participação do prefeito. É ele que vai confirmar (sancionar) o projeto, transformando ele em lei. O prefeito pode também criar uma lei, mas ela PRECISA ser votadas pelos vereadores

    2) vigiar (supervisionar) as ações do prefeito e da prefeitura para que eles não quebrem as leis ou ajam com irresponsabilidade. Caso ocorra, é a Câmara de Vereadores que julgará o prefeito.
  </p>
</div>
<div class="container text-center small-text">
  <div class="row two-resp">
    <div class="col-xs-12 col-sm-6">
      Leis
    </div>
    <div class="col-xs-12 col-sm-6">
      Supervisão
    </div>
  </div>
</div>
