<div class="container">
  <h1>Câmara de Vereadores</h1>
  <div class="row">
    <div class="center block">
      <p class="tex-descrip">
        Todas as cidades possuem um grupos de pessoas eleitas para representar o povo. Na cidade de São Paulo são 55 os vereadores responsáveis pela representação dos interesses de todosos cidadãos de sua cidade, e não só com as pessoas que votaram neles.
        O "Palácio Anchieta" (google maps), no bairro de Bela Vista, é o espaço público onde esses debates e votações acontecem.
      </p>
    </div>
  </div>
  <div class="row-">
    <div col-sm-4 col-sm-offset-4>
      <%= image_tag "camara_teste.png", alt: "seats", width: 400 %>
    </div>
  </div>
  <div class="row center-block">
    <div col-sm-offset-4 col-sm-4>
      <p class="text-justify">
        As principais responsabilidades dos vereadores são
      </p>
    </div>
    <div class="row">
      <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="left" title="Tooltip on left">Tooltip on left</button>
      <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="Tooltip on right">Tooltip on right</button>
    </div>
  </div>
</div>



  <!--         1) criar as regras que organizam a cidade.
          São os vereadores que criam, mudam e desfazer essas leis.
          Os Projetos de Lei (PL) são criados e votados pelos vereadores com a participação do prefeito. É ele que vai confirmar (sancionar) o projeto, transformando ele em lei. O prefeito pode também criar uma lei, mas ela PRECISA ser votadas pelos vereadores

          2) vigiar (supervisionar) as ações do prefeito e da prefeitura para que eles não quebrem as leis ou ajam com irresponsabilidade. Caso ocorra, é a Câmara de Vereadores que julgará o prefeito.
