/* Main navbar */
.navbar-wagon {
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(200, 200, 200, 0.4);
}

.navbar-wagon-float {
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  background-color: rgba(200, 200, 200, 0.4);
  top: 0;
  right: 0;
  left: 0;

  a {
    color: black;
    }
}

/* Logo */
.navbar-wagon-brand img {
  height: 50px;
  opacity: 0.8;
}

/* Right section */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-wagon-link {
  color: black;
  font-size: 14px;
}
.navbar-wagon-link:hover {
  color: lightgray;
  text-decoration: none;
}
