/* Main navbar */
.navbar-wagon {
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgba(70, 70, 70, 0.9);
  background-color: rgba(254, 254, 254, 0.9);
}

.navbar-wagon-float {
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  background-color: rgba(210, 210, 210, 0.1);
  top: 0;
  right: 0;
  left: 0;

a {
    color: #F8F8F8;
  }
}

/* Logo */
.navbar-wagon-brand img {
  height: 50px;
  opacity: 0.7;
}

/* Right section */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-wagon-link {
  color: #F8F8F8;
  font-size: 14px;
}
.navbar-wagon-link:hover {
  color: lightgray;
  text-decoration: none;
}
