/* Main navbar */
.navbar-wagon {
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(100, 100, 100, 1);
  // background-color: transparent;
  // transition: 0.5s background-color ease;

  #logo {
    color: rgba(250, 250, 250, 0.7);
    font-size: 30px;
  }
  a {
    color: rgba(250, 250, 250, 0.7);
    font-size: 18px;
    }
  a:hover, #logo:hover {
    color: rgba(0, 237, 100, 0.7);
    text-decoration: none;
  }
}

// .navbar-wagon-white {
//   background-color: white;
//   color: rgba(70, 70, 70, 0.7);
// }

.navbar-wagon-float {
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  // background-color: rgba(200, 200, 200, 0.4);
  top: 0;
  right: 0;
  left: 0;

  a {
    color: rgba(250, 250, 250, 0.7);
    font-size: 18px;
    }
  a:hover {
    color: rgba(0, 237, 100, 0.7);
    font-size: 18px;
    text-decoration: none;
  }
}

#logo {
  font-family: 'Allerta Stencil';
  font-size: 34px;
  margin-top: 10px;
}

/* Logo */
.navbar-wagon-brand {
  height: 50px;
  opacity: 0.8;
}

/* Right section */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-wagon-link {
  color: rgba(240, 240, 240, 1);
  font-size: 14px;
}

