.grid {
  display: grid;
  grid-template-columns: 350px repeat(3, 1fr);
  grid-template-rows: 50% 50%;
  padding: 30px;
  height: calc(100vh - 70px);
}

#profile-info {
  grid-row: 1 / span 2;
  grid-column: 1 /span 1;
  margin-top: 20px;
  margin: 0 auto;
}

#contributions-card {
  grid-row: 1 / span 1;
  grid-column: 2 /span 1;
}

#followers-card {
  grid-row: 1 / span 1;
  grid-column: 3 /span 1;
  margin-top: 70px;
}

#repo {
  grid-row: 1 / span 1;
  grid-column: 4 /span 1;
  margin-top: 70px;
}

#more-about {
  grid-row: 2 / span 1;
  grid-column: 2 /span 3;
  padding: 50px;
}

#contributions-card h3, #followers-card h3, #repo h3 {
  color: rgb(0, 195, 134);
  font-size: 28px;
}

#more-about h3 {
  font-weight: 500;
  font-size: 21px;
  padding-bottom: 5px;
}

#contributions-card p, #followers-card p, #repo p, #more-about p {
  color: rgb(150, 150, 150);
}

.councillor-title h1 {
  margin-left: 60px;
  margin-bottom: 30px;
  font-weight: bold;
}

.councillor-info {
  display: grid;
  grid-template-columns: 300px repeat(2, 1fr);
}

#councillor-photo img {
  border-radius: 10%;
  border: 1px solid grey;
}

#councillor-photo h5, h6 {
  text-align: center;
}
