.councillor-info {
  display: grid;
  grid-template-columns: 300px repeat(2, 1fr);
  grid-template-rows: 33% 33% 33%;
}

#profile-info {
  grid-row: 1 / span 2;
  grid-column: 1 /span 1;
  margin-top: 20px;
  margin: 0 auto;
}
// .chart-content {
//   width: 350px;
// }
// .chart-project-type-show {
//   grid-row: 1 / span 1;
//   grid-column: 2 /span 1;
// }
#project-labels {
  grid-row: 1 / span 1;
  grid-column: 2 / span 2;
}
#more-about {
  grid-row: 2 / span 1;
  grid-column: 2 /span 2;
  // padding: 50px;
}

#contributions-card h3 {
  color: rgb(0, 195, 134);
  font-size: 28px;
}

#more-about h3 {
  font-weight: 500;
  font-size: 21px;
  padding-bottom: 5px;
}

#contributions-card p, #more-about p {
  color: rgb(150, 150, 150);
}

.councillor-title h1 {
  margin-left: 60px;
  margin-bottom: 30px;
  font-weight: bold;
}


#councillor-photo img {
  border-radius: 10%;
  border: 1px solid grey;
}

#councillor-photo h5, h6 {
  text-align: center;
}
.charts {
  padding-bottom: 80px;
  padding-left: 100px;
}
