.section {
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: 'Roboto', sans-serif;

  #sobre-section {
    color: rgba(70, 70, 70, 0.7);
  }
  #sobre-section:hover {
    text-decoration: none;
  }
}
#camara {
  background-color: #F8F8F8;
  padding: 20px;
  text-align: center;
}

#graphs {
  background-color: white;
}

.card {
  // height: 175px;
  background-size: cover !important;
  background-position: center;
  color: black;
  position: relative;
}

.project-info {
  border-radius: 1px;
  padding: 20px;
  font-size: 18px;
  i {
    font-size: 60px;
    color: rgba(0, 237, 100, 0.7);
  }
}

#project {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  align-items: top;
}
.info-texto {
  text-align: justify;
  color: rgba(70, 70, 70, 0.7);
}
.icon {
 text-align: center;
}
.infocamara-button {
  text-align: center;
}
.info-box {
  text-align: center;
  border-right: 1px solid rgba(50, 50, 50, 0.3);
  height: 180px;
  padding: 20px;
    .number {
      font-size: 50px;
      color: rgba(0, 237, 100, 0.7);
    }
}

.box-sem-borda {
  text-align: center;
  height: 180px;
  padding: 20px;
    .number {
      font-size: 50px;
      color: rgba(0, 237, 100, 0.7);
    }
}

#attendance-chart {
  display: flex;
  justify-content: space-around;
  background-color: white;
}
