.section {
  height: 400px;
}

#first-section {
  background-color: white;
  padding: 20px;
}

#second-section {
  background-color: #F8F8F8;
  padding: 20px;
}

.card {
  // height: 175px;
  background-size: cover !important;
  background-position: center;
  color: black;
  position: relative;
}

.align-center {
  // align-items: center;
}
